<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbD7UqB7EqJkEifY9dS9hBhW2pnhKabgc</string>
	<key>GCM_SENDER_ID</key>
	<string>1040662176973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubinhodev.rubixmatch</string>
	<key>PROJECT_ID</key>
	<string>rubix-match-84fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>rubix-match-84fa4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040662176973:ios:6d1d3f142d37ea0ae67584</string>
</dict>
</plist>